<!DOCTYPE html>
<html>
<head>
    <title>Create Note</title>
</head>

<body>

    <h1>Create a New Note</h1>

    <form method="POST">
        {% csrf_token %}

        <label>Title:</label>
        <br>
        <input type="text" name="title">

        <br><br>

        <label>Content:</label>
        <br>
        <textarea name="content" rows="10" cols="50"></textarea>

        <br><br>

        <button type="submit">Save Note</button>
    </form>

    <br>

    <a href="{% url 'home' %}">Back to My Notes</a>

</body>
</html>
